.main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 2px;
  align-items: flex-start;
}

.main > button {
  font-size: 18px;
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: burlywood;
  color: black;
}

.main > p {
  font-size: 0.9rem;
  margin: 12px 0;
}

.main a {
  color: burlywood;
}
